.mainWrapper, .emailAuthWrap {
    width: 100vw;
    height: 100vh;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.authLeftWrap, .emailAuthLeft {
    width: 45%;
    height: 100%;
    padding: 15px;
    border-right: 1px solid var(--brdr);
    background-image: url(../../../public/auth-bg3.jpg);
    background-color: transparent;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.authLeftGlass, .instrtSectBox{
    width: 90%;
    height: 90%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.689);
    box-shadow: 8px 8px 32px 0 rgba(146, 146, 146, 0.37);
    border: 1px solid rgba(243, 243, 243, 0.876);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.instrtSectBox h1{
    font-size: 19px;
    letter-spacing: 1.2px;
    color: var(--roughDark);
    text-align: left;
    width: 90%;
    line-height: 30px;
    position: relative;
    top: 20px;
    font-weight: lighter;
}
.instrtCtnt{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.instrtCtnt p{
    width: 80%;
    font-size: 14px;
    text-align: center;
    color: var(--descrp);
    letter-spacing: 1.2px;
    position: relative;
    bottom: 20px;
}

.authLeftHead{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
}
.authLeftHead h1{
    width: 90%;
    font-size: 16px;
    text-align: center;
    font-weight: lighter;
    line-height: 30px;
}

.authFeatCardWrap{
    width: 100%;
    height: max-content;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
}
.authFeatCard{
    background-color: rgba(255, 255, 255, 0.149);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    width: 50%;
    height: max-content;
    padding: 15px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 10px;
    box-shadow: 0 0 5px var(--brdr);
}
.authFeatCard:last-child{
    margin-right: 0;
}
.authCardHead{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 5px;
    color: var(--themeText);
}
.authCardDescrp{
    width: 100%;
    font-size: 12px;
    color: var(--descrp);
    text-align: left;
}


/* Right Part of Authentication */
.authRightWrap, .emailAuthRight {
    width: 50%;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.emailAuthRight{
    width: 45%;
}
.emailAuthLeft{
    width: 52%;
}
.authHead, .authEmailHead{
    width: 100%;
    height: max-content;
    /* border: 1px solid black; */
    padding: 5px 15px;
}
.authHead h1 {
    font-weight: lighter;
    font-size: 25px;
    color: var(--roughDark);
    margin-bottom: 15px;
    padding-bottom: 10px;
    width: 30px;
    border-bottom: 3px solid var(--themeText);
}
.authHighlight {
    font-weight: lighter;
    color: var(--themeText);
}
.authHead h2, .authEmailHead h2 {
    font-weight: lighter;
    font-size: 20px;
    color: var(--roughDark);
    line-height: 40px;
}
.authEmailHead h2{
    font-size: 18px;
}
.authHead p, .authEmailHead p {
    font-size: 14px;
    color: var(--descrp);
    letter-spacing: 1.2px;
}
.authEmailHead p {
    font-size: 12px;
}
.backToDiffOptBtn{
    text-decoration: none;
    color: var(--roughDark);
    font-size: 12px;
    width: max-content;
    box-shadow: inset 0 0 0 2px #c4c4c461;
    padding: 8px 15px;
    border-radius: 10px;
    letter-spacing: 1.2px;
    margin-top: 10px;
    cursor: pointer;
    display: inline-block;
}
.backToDiffOptBtn:hover{
    background-color: rgba(236, 236, 236, 0.856);
}
.authBtnsWrap {
    width: 100%;
    height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid var(--brdr); */
    border-radius: 15px;
}
.authDiffBtns {
    width: 320px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    padding: 12px 15px;
    border-radius: 5px;
    border: none;
    letter-spacing: 1.1px;
    color: var(--roughDark);
    cursor: pointer;
    font-size: 14px;
    transition: .2s ease-in-out;
    box-shadow: inset 0 0 0 2px #c4c4c461;
}
.authDiffBtns i{
    font-size: 16px;
}
.authDiffBtns:hover {
    background-color: #f9f9f9c7;
}
.authBtnIcon {
    width: 10%;
}
.authBtnTxt {
    width: 80%;
}
.clientAgreeText {
    width: 70%;
    height: max-content;
    text-align: center;
    letter-spacing: 1.2px;
    font-size: 13px;
}

@media screen and (max-width: 800px){
    .authLeftWrap{
        display: none;
    }
    .authRightWrap{
        width: 100%;
    }
}

/* Authentication Email Page */
.authEmailVerifyWrap{
    width: 95%;
    height: 350px;
    border: 1px solid var(--brdr);
    border-radius: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.authEmailInptSec, .authEmailSignUpInptSec{
    width: 100%;
    height: 250px;
    padding: 0 10px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.emailSignUpBoxWrap{
    width: 100%;
    height: 45px;
    padding: 5px 20px;
    border: 1px solid var(--brdr);
    margin: 5px auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.emailBoxWrap{
    width: 100%;
    height: 85px;
    padding: 8px;
    border: 1px solid var(--brdr);
    margin: 5px auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.emailBoxWrap .emailIconWrap, .emailSignUpBackWrap{
    color: var(--roughDark);
    font-size: 20px;
}
.emailSignUpBoxWrap:hover{
    box-shadow: inset 0 0 0 1px var(--brdr);
}
.emailSignUpBackWrap{
    margin-right: 15px;
    font-size: 12px;
}
.emailSignUpBackWrap a{
    text-decoration: none;
    color: var(--roughDark);
}
.emailSignUpLabelWrap{
    width: max-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    color: var(--success);
}
.emailSignUpLabelWrap p{
    letter-spacing: 1.2px;
    width: max-content;
}

.emailBoxWrap .emailInptWrap{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.emailBoxWrap .emailInptWrap label{
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--themeText);
    margin-left: 3px;
}
.rqrdInpt{
    color: var(--error);
}
.emailBoxWrap .emailInptWrap input{
    width: 100%;
    height: 35px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    border: none;
    outline: none;
    color: var(--roughDark);
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #f1f1f196;
}

.verifynErroWrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.verfyEmailBtn, .OtpSignupEmailBtn, .pwdSignUpEmailBtn, .otpInptWrapper button{
    background-color: white;
    padding: 10px 25px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px var(--brdr);
    border: 1px solid var(--brdr);
    letter-spacing: 1.2px;
    color: var(--roughDark);
    cursor: pointer;
}
.OtpSignupEmailBtn, .pwdSignUpEmailBtn{
    width: 250px;
    text-align: left;
    font-size: 12px;
    padding: 13px 25px;
    color: var(--roughDark);
    position: relative;
}
.otpInptWrapper button{
    font-size: 12px;
}
.OtpSignupEmailBtn:hover, .pwdSignUpEmailBtn:hover, .otpInptWrapper button:hover{
    box-shadow:inset 2px 2px 2px var(--brdr);
    color: var(--descrp);
}
.signUpLstPwdLabel{
    width: 100%;
    text-align: right;
    font-size: 12px;
    text-decoration: none;
    color: var(--themeText);
    cursor: pointer;
}
.signUpLstPwdLabel:hover{
    color: var(--descrp);
}

.validtMsg{
    color: var(--error);
    font-weight: bold;
    letter-spacing: 1.2px;
    font-size: 13px;
    padding-right: 10px;
}
.authSignUpPrcs{
    width: 100%;
    margin: 8px 0;
    padding: 0 8px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: var(--roughDark);
}
.authSignUpPrcs span{
    font-weight: bold;
}

.signUpInptWrapper{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8px 0;
}
.otpInptWrapper{
    width: 100%;
    height: max-content;
    border: 1px solid var(--brdr);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.otpInptWrapper legend{
    font-size: 12px;
    padding: 0 5px;
    margin: 0 10px;
}
.otpInptWrapper input{
    border: none;
    outline: none;
    height: 40px;
    width: 70%;
    padding: 0 10px;
    
    border-radius: 5px;
    font-size: 12px;
    color: var(--roughDark);
    background-color: #f1f1f196;
}
.authPrcsOptWrap{
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.errorIconColor{
    color: var(--error);
}